// MAIN - CONTENT
main {
    background: $back-col;
    text-align: center;
    & > .container {
        @include flex-center;
        flex-wrap: wrap;
        padding-top: 50px;
        .card {
            @include flex-center;
            position: relative;
            flex-direction: column;
            height: 300px;
            width: 250px;
            margin: 20px;
            padding: 100px 10px 20px 10px;
            color: $text-col;
            background: $card-col;
            .img-wrapper {
                position: absolute;
                top: 0;
                width: 130px;
                height: 130px;
                margin: 20px 0;
                img {
                    max-height: 100%;
                }
            }
        }
    }
}